/* *******************************Estilo Cafe Central************************************************* */
#central{
    padding:1%;
}
#central h1{
    color:rgb(134, 110, 65);
    font-size:200%;
}
#central h3, #nav2 h3{
    color:chocolate;
}
#central div{
    width:30%;
    margin:1%;
    float:left;
    text-align: left;
}
#central img{
    width:95%;
}
#central a{
    text-decoration: none;
    color:rgb(134, 110, 65);
}
footer{
    clear:both;
    background-color: grey;
    
}
#nav2 img,#nav2 iframe{
    width:95%;
}
#nav2 div{
    width:20%;
    float:left;
    margin:2%;
}
.rojo{
    color:red;
}
.resaltado{
    font-weight:bold;
}


/* *******************************Estilo Cafe Mercedes************************************************* */
.clear{
    clear:both;
}
#mercedes ul{
    list-style-type:none;
    overflow:hidden;
    margin:0%;
    padding:0%;
    background-color: gray;
}
#mercedes ul li{
    display:inline;   
}
#mercedes a{
    text-decoration:none;
    font-weight: bold;
    color:black;
    padding:16px 20px;
}
.naranja{
    background-color: orangered;
}
#mercedes li:hover{
    background-color: lightgrey;
    text-decoration:underline;
}
.naranja:hover{
    text-decoration:underline;
    background-color: orangered;
}
/* *******************************Estilo Levante************************************************* */
#levante ul{
    list-style-type:none;
    overflow:hidden;
    margin:0%;
    padding:0%;
    background-color: gray;
}
#levante ul li{
    display:inline;
    margin:1%;
    padding:0.5%;
}
#levante a{
    text-decoration:none;
    color:black;
}


