/* *******************************Estilo Cafe Central************************************************* */
#cafeCentral{
    background-color: bisque;
    padding:1%;
}
#cafeCentral h1{
    color:rgb(134, 110, 65);
    font-size:200%;
}
#cafeCentral div{
    width:30%;
    margin:1%;
    float:left;
    text-align: left;
}
#cafeCentral img{
    width:95%;
}
#cafeCentral a{
    text-decoration: none;
    color:rgb(134, 110, 65);
}
#nav2{
    clear:both;
    background-color: wheat;
    
}
#nav2 div{
    width:20%;

}
.rojo{
    color:red;
}
.resaltado{
    font-weight:bold;
}


/* *******************************Estilo Cafe Mercedes************************************************* */




/* *******************************Estilo Levante************************************************* */



